@{
    Layout = "~/Views/Shared/Izenda_Layout.cshtml";
    ViewBag.Title = "Iframe Viewer";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var overridingFilterQueries = JSON.parse('@Html.Raw(WebUtility.HtmlDecode(ViewBag.overridingFilterQueries))');
            izendaInitIframeViewer('@ViewBag.Id', {
                overridingFilterValue: overridingFilterQueries
            });
            document.body.style.setProperty('padding', 0, 'important');
        });
    </script>
}

<div class="loader" id="progressLoader"> </div>
<div class="izenda-container" id="izenda-root"></div>
